<div class="container">
  <% @properties.each do |property| %>
    <h3 class="text-center mt-4"> House </h3>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
          <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header text-success">
            <h5><%= link_to property.description, property_path(property), class:"text-success"%></h5>

            </div>
            <div class="card-body">
              
              <%=link_to (image_tag( property.photo, size: "420x300", class:"rounded mx-auto d-block")), property_path(property) %>
              <h6 class="mb-3 mt-3"><%= property.address %></h6>
              <%= link_to "View", property_path(property), class: "btn btn-outline-success" %>
              <%= link_to "Edit", edit_property_path(property), class: "btn btn-outline-info" %>
              <%= link_to "Delete", property_path(property), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
              <div class="card-text text-left">
              </div>
              </div>

              <div class="card-footer text-muted">
              <small>Created <%= time_ago_in_words(property.created_at) %> ago, 
              edited <%= time_ago_in_words(property.updated_at) %> ago</small>
              </div>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

